@import '../../../App.scss';

button {
  border: 1.4px solid transparent;
  padding: 0.5em;
  border-radius: 5px;
  background-color: rgb(255, 42, 42);
  color: rgb(255, 255, 255);
  cursor: pointer;

}